<h1>Contact Me</h1>
<p>
	Want to talk to me about ideas, work, writing or speaking oppurtunities? Want to randomly chat about something else? I will respond to most people if your reasonable and not a robot.
</p>

<p>&nbsp;</p>
<div class="social_bar">
	<a href="mailto:{{username}}@{{domainname}}"><img src="../images/social/email.png" class="img-responsive"></a>
	<a href="skype:chriswhward?call"><img src="../images/social/skype.png" class="img-responsive"></a>
	<a href="#"><img src="../images/social/wire.png" class="img-responsive"></a>
	<a href="#"><img src="../images/social/telegram.png" class="img-responsive"></a>
</div>
<p>&nbsp;</p>