<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/semi_fr_prof_sn_rs.jpg" alt="A picture of me looking slightly disapproving" class="img-responsive"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h2>Some Text</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et ille ridens: Video, inquit, quid agas; Quid sequatur, quid repugnet, vident. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. Hic ambiguo ludimur. Quantum Aristoxeni ingenium consumptum videmus in musicis? Tuo vero id quidem, inquam, arbitratu.
  </p>

  <h2>Another Heading</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quia nec honesto quic quam honestius nec turpi turpius. Hoc loco tenere se Triarius non potuit. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. An dolor longissimus quisque miserrimus, voluptatem non optabiliorem diuturnitas facit? Duo Reges: constructio interrete.
  </p>

  <h2>Another Heading, smaller</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non pugnem cum homine, cur tantum habeat in natura boni; Quis est, qui non oderit libidinosam, protervam adolescentiam? Haec et tu ita posuisti, et verba vestra sunt. Ergo id est convenienter naturae vivere, a natura discedere. Duo Reges: constructio interrete. Quod autem satis est, eo quicquid accessit, nimium est; Fortasse id optimum, sed ubi illud: Plus semper voluptatis? Aliter homines, aliter philosophos loqui putas oportere? Mihi quidem Antiochum, quem audis, satis belle videris attendere.</p>

</div>
