<div class="jumbotron">
  <p class="lead">
    <img ng-src="{{ image.source }}" alt="{{ image.title }}" class="img-responsive center-block"><br>
    Developer, Designer, Writer.
  </p>
  <div class="social_bar">

    <a href="http://facebook.com/chrischinchilla" target="_blank"><img src="../images/social/facebook.png" class="img-responsive"></a>

    <a href="https://twitter.com/ChrisChinch" target="_blank"><img src="../images/social/twitter.png" class="img-responsive"></a>

    <a href="https://plus.google.com/+ChrisWardChinch" target="_blank"><img src="../images/social/gplus.png" class="img-responsive"></a>

    <a href="https://www.xing.com/profile/Chris_Ward16/" target="_blank"><img src="../images/social/xing.png" class="img-responsive"></a>

    <a href="http://www.linkedin.com/in/chrischinchilla" target="_blank"><img src="../images/social/linkedin.png" class="img-responsive"></a>

    <a href="http://github.com/ChrisChinchilla" target="_blank" class=""><img src="../images/social/octocat.png" class="img-responsive"></a>

  </div>

</div>

<div class="row marketing">
  <h2 id="welcome-to-my-site">Welcome to my Site</h2>
  <p>I am Chris Ward (aka Chris Chinchilla). I am a Developer, Designer and Writer currently living in Leipzig (Germany), but originally from London and with many years spent in Melbourne (Australia). This is my personal site that tells you more about me and contains many random ramblings. If you want more work content relating to the projects and products I am working on, take a look at my Business website, <a href="http://gregariousmammal.com">Gregarious Mammal</a>. This is my shiny new personal site and more will be added very soon, you can <a href="http://gregariousmammal.com/article/projects-site-redevelopment-complete" target="_blank">read about it's development here</a>.</p>
  <p>&nbsp;</p>
  <h5 id="why-on-earth-do-you-call-yourself-chris-chinchilla-">Why on earth do you call yourself 'Chris Chinchilla'?</h5>
  <p>Hmm, yes it does sound rather silly doesn't it! It's a nickname I've had for over 12 years after a passing comment at school, I've carried it through all my fanzine and music years and quite like it. For those who are interested, a Chinchilla is a small (and very cute) <a href="http://en.wikipedia.org/wiki/Chinchilla" target="_blank">South American rodent</a> (And also <a href="http://en.wikipedia.org/wiki/Chinchilla,_Queensland" target="_blank">a small town in Queensland, Australia</a>) and is a real name in South America.</p>
  <p>For those who are really interested, my real name is Chris Ward… Very dull.</p>
</div>
