<div class="jumbotron">
  <p class="lead">
    <img src="images/semi_fr_prof_sn_rs.jpg" alt="A picture of me looking slightly disapproving" class="img-responsive center-block"><br>
    Developer, Designer, Writer.
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Contact Me <span class="glyphicon glyphicon-envelope"></span></a></p> -->
</div>

<div class="row marketing">
  <h2 id="welcome-to-my-site">Welcome to my Site</h2>
  <p>I am Chris Ward (aka Chris Chinchilla). I am a Developer, Designer and Writer currently living in Leipzig (Germany), but originally from London and with many years spent in Melbourne (Australia). This is my personal site that tells you more about me and contains many random ramblings. If you want more work content relating to the projects and products I am working on, take a look at my Business website, <a href="http://gregariousmammal.com">Gregarious Mammal</a>.</p>
  <h5 id="why-on-earth-do-you-call-yourself-chris-chinchilla-">Why on earth do you call yourself 'Chris Chinchilla'?</h5>
  <p>Hmm, yes it does sound rather silly doesn't it! It's a nickname I've had for over 12 years after a passing comment at school, I've carried it through all my fanzine and music years and quite like it. For those who are interested, a Chinchilla is a small (and very cute) <a href="http://en.wikipedia.org/wiki/Chinchilla" target="_blank">South American rodent</a> (And also <a href="http://en.wikipedia.org/wiki/Chinchilla,_Queensland" target="_blank">a small town in Queensland, Australia</a>) and is a real name in South America.</p>
  <p>For those who are really interested, my real name is Chris Ward… Very dull.</p>
</div>
