<h1 id="employ-hire-me">Employ / Hire Me</h1>
<p>As a long term freelancer and contractor attempting to distill my work experience and History into a CV is always a challenging  process. Below I present chronologically the most recent and relevant projects I have worked on. This will hopefully illustrate my credentials, but if you need more, I can supply further details on request.</p>
<h2 id="currently-looking-for-opportunities">Currently Looking for Opportunities</h2>
<p>I am currently open to opportunities for full-time, part-time and contract work. Ideally with an enterprising startup or with a larger agency / internal development team.</p>
<p>I am looking to move on from the purely Drupal Development I have mainly undertaken in the past seven years. I am keen to build on my general programming skills into some of the new languages I have been learning recently. My years of experience organising user groups, training days and managing small developer teams may also make me suitable for Developer Evangelist or Documentation roles.</p>
<h2 id="skills">Skills</h2>
<h3 id="programming">Programming</h3>
<p>Drupal, PHP, MVC and OOP PHP, CiviCRM, Java (Android), Swift, Ruby on Rails, JQuery, AngularJS, JavaScript</p>
<h3 id="design">Design</h3>
<p>HTML, HTML 5, CSS, Sass, Less, Wireframing, Mockups</p>
<h3 id="devops">DevOps</h3>
<p>Deployment, Version Control, Package Management, Testing, Performance, Vagrant, Linters, Profiling, Debugging</p>
<h3 id="community-and-education">Community and Education</h3>
<p>User Group Organising, Event Marketing, Sponsors Management, Event Logistics, Organising Speakers, Public Speaking, Demo Presentation</p>
<h3 id="writing-and-editing">Writing and Editing</h3>
<p>Subject Expert, Editing, Writing for the Web, SEO, Proposal Writing, Technical Documentation</p>
<h2 id="work-experience">Work Experience</h2>
<h3 id="sitepoint-mobile-channel-editor">SitePoint Mobile Channel Editor</h3>
<p><em>March 2014 - Present</em></p>
<p>In this part-time (10 hours / week) role I am responsible for SitePoint's mobile channel. SitePoint is a global resource site for Developers and Designers that ranks highly on Alexis and has weekly traffic of about 100,000 page views. My role involves commissioning and editing articles, engaging our community and creating strategy based on trends in our readership. As part of editing articles I have to understand, test and streamline code in a variety of languages such as Swift, Java and JavaScript.</p>
<h3 id="gregarious-mammal">Gregarious Mammal</h3>
<p><em>March 2014 - Present</em></p>
<p>Gregarious Mammal is the Umbrella company for the various projects I have been working on during this period. After a very busy work period from 2012 - 2013 I decided to take the majority of 2014 off to work on some ideas that I had been considering for some time. These are a board game, a work of fiction, a handbook for non-profits, a blog for frequent travelers and several small mobile apps. All of these projects are open source and I have been investigating inventive ways of raising funds and revenue. For each of them I have undertaken the Design, Writing, Creation, Programming and Production. They have used Drupal, AngularJS, Ruby on Rails, Java and Swift. These projects are now reaching their conclusion and it has been an educational and rewarding experience. In the early stages of this period I also undertook several small freelance development projects in Wordpress, Joomla!, Drupal and CiviCRM.</p>
<h3 id="this-little-duck-senior-drupal-developer">This Little Duck, Senior Drupal Developer</h3>
<p><em>March - July 2014</em></p>
<p>This was a short term contract role for Sydney based Drupal consultants, This Little Duck. My responsibility during the contract was managing the maintenance and redevelopment of the Australian Broadcasting Corporations 'Triple JJJ Unearthed' website. The website is a very popular site for bands create profile pages, upload music and to take part in competitions. During the project I liaised with the ABC project manager, gathering requirements and undertaking coding and testing.</p>
<h3 id="the-monthly-drupal-and-civicrm-developer">The Monthly, Drupal and CiviCRM Developer</h3>
<p><em>December 2013 - March 2014</em></p>
<p>During this short term contract I helped this popular Australian Publisher during the launch of their new weekly newspaper. This involved migrating their current sites from Drupal 6 to 7 and integrating their customised CiviCRM installation that handled subscriptions and deliveries.</p>
<h3 id="moat-media-go1">Moat Media / Go1</h3>
<p><em>April 2012 - October 2013</em></p>
<p>Moat Media was a small Drupal agency that undertook many medium sized website projects. My role was part project manager and part lead developer, transforming client requirements into tasks for our development team and vice-versa. Frequently I took on the development tasks that other members of the team were unable to accomplish or needed help with. In July 2013 Moat Media merged with Go1 and my role changed to be community engagement on our products and services. Whilst this was an ideal role, unfortunately the original Moat Media team quickly realised that our ways of working were too different from Go1 and we all left after a few months.</p>
<h3 id="pre-2012">Pre 2012</h3>
<p>In the past I have had many other relevant roles including:</p>
<ul>
  <li>Online Coordinator for large non-profit, <em>The Australian Conservation Foundation</em>.</li>
  <li>Online Coordinator for Environment Park, <em>CERES</em>.</li>
  <li>Founder and technical consultant of non-profit, <em>Green Renters</em> that achieved many years of sucess with a hard-to-reach audience and became nationally recognised as a leader in its field.</li>
  <li>CakePHP Developer with Portable Content, a leading Melbourne based agency and creator of online products.</li>
</ul>
